.projet{
    padding-left: 85px;
    position: relative; 
    z-index: 10;
    width: 100%;
    margin:0;
    padding:0;
}

.aa{
    margin-left: 275px;
}

.bb{
    margin-left: 875px;
}

.projet h2{
    padding-left: 10px;
}

.cercle { 
    position: absolute;
    z-index: -1;
    height: 50px; 
    width: 50px; 
    background-color: lightblue;
    border-radius: 50%; 
    filter:alpha(opacity=50);/*IE*/
    -moz-opacity:0.5; /*autres nav*/
    opacity: 0.5;
}

strong{
    color:lightcoral;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.photo{
    height: 480px; 
}
